* {
    border: none;
    border-radius: 0;
    font-family: Monoid NF, Monoid, Fira Sans, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(43, 48, 59, 0.5); */
    background-color: #0c1b15;
    /* border-bottom: 1px solid rgba(100, 114, 125, 0.5); */
    /* border-bottom: px solid #0c1b15; */
    color: #c3c6c9;
}

#workspaces {
    border-top: #1f5a7c solid 1px;
    border-right: #1f5a7c solid 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: #c3c6c9;
    border-bottom: 2px solid #000000;
}

#workspaces button.visible {
    background: #479ed1;
    border-bottom: 2px solid #1f5a7c;
}

#workspaces button.focused {
    background: #1f5a7c;
    border-bottom: 3px solid #479ed1;
}

#workspaces button.urgent {
    color: #000000;
    background: #ff5370;
    border-bottom: 1px solid #1f5a7c;
}

#window {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

#mode {
    background: #479ed1;
    border-bottom: 1px solid #c3c6c9;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    border-top: solid 1px #c8c831;
    border-right: #c8c831 solid 1px;
    background: #4d3200;
    margin: 0px 0px 0px 3px;
}

/* #clock { */
/*     background-color: #479ed1; */
/* } */

/* #battery { */
/*     background-color: #c3c6c9; */
/*     color: #000000; */
/* } */

#battery.charging {
    color: #000000;
    background-color: #739e27;
}

@keyframes blink {
    to {
        background-color: #c3c6c9;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #c3c6c9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* #backlight { */
/*     background: #90b1b1; */
/* } */

/* #network { */
/*     background: #2980b9; */
/* } */

/* #network.disconnected { */
/*     background: #f53c3c; */
/* } */

/* #pulseaudio { */
/*     background: #f1c40f; */
/*     color: #000000; */
/* } */

#pulseaudio {
    border-top: #c8c831 solid 1px;
    background: #4d3200;
}
#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

/* #custom-media { */
/*     background: #66cc99; */
/*     color: #2a5c45; */
/* } */

/* .custom-spotify { */
/*     background: #66cc99; */
/* } */

/* .custom-vlc { */
/*     background: #ffa000; */
/* } */

/* #temperature { */
/*     background: #f0932b; */
/* } */

/* #temperature.critical { */
/*     background: #eb4d4b; */
/* } */

/* #tray { */
/*     background-color: #2980b9; */
/* } */

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */
